*{
    margin:0;
    padding:0;

}


.header{
    min-height:100vh;
    max-width:110;
    background-image: linear-gradient(to bottom right,#bf1e2e,#6d171e);
}
  

.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ctitle{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 20%;
    left:51%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.ctitle h1{
    font-size: 62px;
}

.ContactI button{
    background-color:#e7e7e7;color:black;
    font-size: 24px;
    padding:14px 40px;
    border-radius: 12px;
    border:2px solid #bf1e2e;
    cursor: pointer;
    position: absolute;
    top:40%;
    left: 21%;
    width: 230px;
}
.ContactI button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.30);
  }

.Enquires button{
    background-color:#e7e7e7;color:black;
    font-size: 24px;
    padding:14px 40px;
    border-radius: 12px;
    border:2px solid #bf1e2e;
    cursor: pointer;
    position: absolute;
    top:40%;
    left: 45%;
    width: 210px;
}

.Enquires button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.30) ;
}

.FAQS button{
    background-color:#e7e7e7;color:black;
    font-size: 24px;
    padding:14px 40px;
    border-radius: 12px;
    border:2px solid #bf1e2e;
    cursor: pointer;
    position: absolute;
    top:40%;
    left: 68%;
    width: 210px;
}

.FAQS button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.30) ;
}

.ToyotaL img {
   border-radius:200px;
   width:600px;
   position: absolute;
   top: 455px;
   left: -38px;
}

.AudiR img{
    border-radius:200px;
    width:600px;
    position: absolute;
    top: 419px;
    right: -10px;
}

.infoTitle{
    width: 90%;
    color: rgb(15, 1, 1);
    position:absolute;
    top: 130%;
    left:27%;
    transform:translate(-50%,-50%);
    text-align:center;

}

.infoTitle h1{
    font-size:50px;
}

.whatsapp img{
    border-radius: 20%;
    width:95px;
    position:absolute;
    top:140%;
    left:5%;
}
.whatsapp h3{
    position:absolute;
    top:143%;
    left:17%;
    font-size:40px;
}

.instagram img{
    border-radius: 20%;
    width:120px;
    position:absolute;
    top:160%;
    left:4%;
}
.instagram h3{
    position:absolute;
    top:163%;
    left:17%;
    font-size:40px;
}
.facebook img {
    border-radius: 20%;
    width: 90px;
    position:absolute;
    top: 179%;
    left:5%;
}

.facebook h3{
    position:absolute;
    top:182%;
    left:17%;
    font-size:40px;
}

.contact-box{
    width:500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top:160%;
    left:70%;
    transform:translate(-50%,-50%);
    position:absolute;
}

form{
    margin: 35px;

}

.input-field{
    width: 400px;
    height:40px;
    margin-top:20px;
    padding-left:10px;
    padding-right:10px;
    border: 1px solid #777;
    border-radius:14px;
    outline:none;
}

.textarea-field{
    height:150px;
    padding-top:10px;

}

.btn{
    border-radius: 20px;
    color:#fff;
    margin-top:18px;
    padding:10px;
    background-color: #47c35a;
    font-size:12px;
    border:none;
    cursor:pointer;

}