@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(#fff);
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
/*Container for Sign Up only*/
.containerSignUp {
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #494f53, #9c0f0f);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 10px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 50px 0;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #494f53, #9c0f0f);
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #494f53, #9c0f0f);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #4070f4;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #4070f4;
}

.input-field i.icon {
  left: 0;
}
.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}
/*navigation bar settings*/
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: white;
  border-bottom: 1px solid black;
  z-index: 1;
}

#navbar ul {
  list-style-type: none;
  text-align: center;
}

#navbar li {
  display: inline-block;
  padding: 15px;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: grey;
  margin-right: 10px;
}

a:visited {
  text-decoration: none;
  color: grey;
  text-decoration: none;
}

.logo {
  max-width: 10%;
  float: left;
}

.button1 {
  background-color: #bf1e2e;
  border: none;
  color: #292525;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color: #36454f;
  border: none;
  color: red;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#navbar li:hover a {
  color: #bf1e2e;
}

.button1:hover {
  background-color: #bf1e2e;
  color: white;
}

.button2:hover {
  background-color: #36454f;
  color: white;
}

/*Admin Pages table settings*/

.containerAdminTable {
  width: 100%;
  background-color: #e9abab;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.admin-table {
  border-collapse: collapse;
  margin: 5% 0;
  font-size: 1.4em;
  font-family: Helvetica;
  min-width: 400px;
  box-shadow: 0 0 30px #000000;
}

.admin-table thead tr {
  background-color: #000000;
  color: #000000;
  text-align: left;
}

.admin-table th {
  padding: 12px 15px;
  color: rgb(255, 255, 255);
}
.admin-table td {
  padding: 12px 15px;
  color: rgb(0, 0, 0);
}

.admin-table tbody tr:last-of-type {
  border-bottom: 10px solid #000000;
}

.button-update,
.button-delete {
  display: inline-block;
  margin: 5px; /* space between buttons */
  background: #535252;
  color: #000000;
  font-size: 0.7em;
  font-family: Helvetica;
  border-radius: 15px; /* rounded corners */
  padding: 8px 16px; /* space around text */
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button-view {
  display: inline-block;
  margin: 5px; /* space between buttons */
  background: #ffffff;
  color: #000000;
  font-size: 0.7em;
  font-family: Helvetica;
  border-radius: 5px; /* rounded corners */
  padding: 8px 16px; /* space around text */
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button-view:hover {
  background: rgb(0, 38, 255);
  color: #000000;
}

.button-update:hover {
  background: rgb(0, 255, 42);
  color: #000000;
}
.button-delete:hover {
  background: rgb(255, 0, 0);
  color: #000000;
}

.button-addUser,
.button-addProduct {
  display: inline-block;
  margin: 5px; /* space between buttons */
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-family: Helvetica;
  border-radius: 15px; /* rounded corners */
  padding: 8px 16px; /* space around text */
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button-addUser:hover {
  background: rgb(0, 255, 42);
  color: #000000;
}

/*Conctact Page*/

.containerContactUs {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-left: 100px;
  margin-right: auto;
}

/*index page*/
.mainimg {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(2px);
  z-index: -1;
}

.image-container {
  position: relative;
}

.image-text-main {
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.image-text-sec {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

.brands {
  display: inline-block;
  width: 12%;
  height: 200px;
  margin: 10px;
  border: 1.7px solid black;
  background-color: white;
  box-sizing: border-box;
}

.brands-container {
  position: absolute;
  top: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brands img {
  width: 100%;
  height: 100%;
}

.brands:hover {
  border: 2px solid #bf1e2e;
}

.highlight {
  color: #bf1e2e;
}
/*About Us page settings*/

.maintitle {
  font-size: 70px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #bf1e2e;
}

.main {
  font-size: 25px;
  text-align: center;
  width: 100%;
  display: center;
}
.main2 {
  font-size: 25px;
  text-align: center;
  width: 100%;
  display: center;
  position:absolute;
  margin-top: 70%;
}

.cover {
  text-align: center;
  width: 100%;
  display: flex;
}

.box1 h2 {
  color: #bf1e2e;
}

.box2 h2 {
  color: #bf1e2e;
}

.box3 h2 {
  color: #bf1e2e;
}

.box1 {
  margin-top: 30px;
  font-size: 25px;
}

.box2 {
  margin-top: 30px;
  font-size: 25px;
}

.box3 {
  margin-top: 30px;
  font-size: 25px;
}

.teamtitle {
  font-size: 50px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;  
  color: #bf1e2e;
  margin-top:-440px
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.team-member {
  width: 150px;
  margin: 30px;
}

.team-member img {
  width: 100px;
  height: 100px;
}

.team-member h3 {
  font-size: 24px;
  margin: 5px 0;
}

.team-member p {
  font-size: 18px;
  margin: 2px 0;
}

.containerAboutUs {
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
}
.containerAboutUsTeamMember {
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 20%;
  float: right;
}
